.articles-container {
  border: solid black 3px;
  border-radius: 10px;
  margin: 10px;
}

.articles-container ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 10px; 
  margin: 5px;
}

.article-link {
  color: black;
  padding: 12px;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}
.article-link:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

.article-link img {
  width: 100px;
  margin-bottom: 10px; 
  font-weight: bolder;
}
nav {
  border: solid black 3px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around; 
  padding: 10px;
  margin: 10px;
}
nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: white;
  background-color: black;
}

nav a.active {
  color: white;
  background-color: black;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

.singleArticle {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin: 10px;
}
.singleArticle button {
  background-color: burlywood;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.singleArticle button:hover {
  background-color: black;
}
.singleArticle img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.singleArticle h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.singleArticle h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.singleArticle p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.singleArticle h4 {
  font-size: 14px;
  color: #666;
}

.comment-container {
  margin: 10px ;
}

.commentItem {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.commentItem h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

.commentItem p {
  font-size: 14px;
  margin-bottom: 10px;
}

.commentItem h6 {
  font-size: 12px;
  color: #888;
}

.commentItem button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.commentItem button:hover {
  background-color: #0056b3;
}


.article-link {
  text-decoration: none;
  color: #333;
}

.article-link:hover {
  text-decoration: underline;
}